@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Salman Hassan<br />
    Sherkot, Kohat<br />
    <abbr title="Phone">Mobile:</abbr>
    03100907740
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hsalman390@gmail.com">hsalman390@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hsalman390@ymail.com">hsalman390@ymail.com</a>
</address>